* {
    -fx-font-family: 'Roboto';
}

.loading-dialog {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.mask-pane {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-accent: null;
}

.mask-pane > .progress-indicator {
    -fx-max-width: null;
    -fx-max-height: null;
}

* {
    -fx-text-fill: -color-fg-default;
    -fx-highlight-text-fill:  -color-fg-default;
    -fx-highlight-fill: -color-neutral-muted;
    -fx-prompt-text-fill: -color-neutral-muted;
    -fx-text-box-border:-color-neutral-muted;
    -fx-control-inner-background: -color-neutral-muted;
    -fx-body-color: -color-neutral-muted;
    -fx-inner-border: -color-accent-fg;
}